<div class="employee-container">
  <div class="page-header">
    <h2>Employees</h2>
    <button mat-raised-button (click)="addEmployee()">
      <mat-icon>add</mat-icon>
      Add Employee
    </button>
  </div>

  <div class="employee-grid">
    <div class="header">Id</div>
    <div class="header">Name</div>
    <div class="header">Email</div>
    <div class="header">Department</div>
    <div class="header">Designation</div>
    <div class="header">Actions</div>
    @for(employee of employees$ | async; track employee.id)
    {
      <div>{{employee.id}}</div>
      <div>{{employee.name}}</div>
      <div>{{employee.email}}</div>
      <div>{{employee.department}}</div>
      <div>{{employee.designation}}</div>
      <div>
        <mat-icon (click)="editEmployee(employee)">edit</mat-icon>
        <mat-icon (click)="deleteEmployee(employee)">delete</mat-icon>
      </div>
    }
  </div>
</div>