<div class="container">
  <h2 mat-dialog-title>Add Employee</h2>

  <mat-dialog-content width="100%">
    <form [formGroup]="employeeForm">
      <input hidden formControlName="id">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Name</mat-label>
        <input width="100%" matInput formControlName="name">
        <mat-error>
          Name should not be empty
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        @if(employeeForm.controls['email'].hasError('required'))
        {
        <mat-error>
          Email should not be empty
        </mat-error>
        }
        @if(employeeForm.controls['email'].hasError('email'))
        {
        <mat-error>
          Enter the valid Email
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Department</mat-label>
        <input matInput formControlName="department">
        <mat-error>
          Department should not be empty
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Designation</mat-label>
        <input matInput formControlName="designation">
        <mat-error>
          Designation should not be empty
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="closeDialog()">
      Cancel
    </button>
    <button mat-raised-button (click)="SaveEmployee()">
      Save
    </button>
  </mat-dialog-actions>
</div>